nette:
    database:
        default:
            dsn: 'mysql:host=localhost;dbname=ndbf'
            user: root
            password: toor

services:
    database: @nette.database.default

ndbf:
    repositories:
        Example: ExampleRepository
        Example2:
            class: ExampleRepository2